
body.blog {
  background-color: #F3EFE0;
.contain {
  position: relative;
  width: 400px;
  background-color: #CBA135;
  text-align: center;
  overflow: visible;
  margin: 0 auto;
  border-style: solid;
  border-width: 30px;
  border-color: #CBA135;
}
.discbox {
  position: relative;
  width: 400px;
  background-color: #7FEFBD;
  text-align: center;
  overflow: visible;
  margin-bottom: 50px; 
}
.con {
  width: 100%;
  background-color: #FFF;
  position: relative;
  margin-bottom: 5px;
  border-radius: 10px;
  padding: 10px 0;
}
#admin {
  max-width: 60%;
  position: relative;
  transform: translate(-50%,0%);
  margin-left: 50%;
  border-style: solid;
  border-top-style: none;
  border-radius: 3px;
  border-width: 3px;
}
.disc, .disc1 {
  font-family: "Acme";
  font-size: 1.3vw;
  color: #66511B;
}
.disc1 {
}
.options {
  width: 200px;
  height: 50px;
  background-color: #CBA135;
  border-style: solid;
  border-radius: 20px;
  border-width: 3px;
  text-align: center;
  position: fixed;
  top: 50px;
  right: 50px;
}

.blogBtn, .classBtn {
  position: relative;
  font-family: "Permanent Marker";
  color: #7FEFBD;
  transform: translate(-50%, -10%);
  width: 100%;
  text-decoration: none;
  &.blogBtn:hover {
      text-shadow: 2px 2px red;
  }
  &.classBtn:hover {
      
      text-shadow: 2px 2px red;
  }
}
}